1. Grocery Store Bill Calculator
A grocery store wants a program to calculate the total bill for a customer.
a. Store the prices of items in a dictionary (e.g., {'apple': 10, 'milk': 50})
b. Take the items purchased and their quantities as input.
c. Calculate and display the total bill amount.

In [12]:
prices = {"apple":18,"orange":15,"banana":12,"milk":26,"egg":10}
def calc_bill():
  tot_bill = 0
  while(1):
    item = input("Enter the item/enter 'end' if over: ").lower()
    if item == "end":
      break
    if item in prices:
      quant = float(input(f"Enter the quantity of {item} in standard units: "))
      if quant<0:
        print("invalid quantity")
        continue
      tot_bill += quant * prices[item]
    else:
      print("Item is not available")
  return tot_bill

print(f"Total Bill: Rs {calc_bill()}")

Enter the item/enter 'end' if over: Apple
Enter the quantity of apple in standard units: 2
Enter the item/enter 'end' if over: orangE
Enter the quantity of orange in standard units: 3
Enter the item/enter 'end' if over: milk
Enter the quantity of milk in standard units: 1
Enter the item/enter 'end' if over: end
Total Bill: Rs 107.0

2.Student Grade Calculator
A teacher wants a program to calculate grades for students based on their marks.
a. Store marks for 5 subjects in a list.
b. Calculate the average and determine the grade:
o 90+ -> A
o 70-89 -> B
o 50-69 -> C
o <50 -> F
c. Display the average and the grade.

In [23]:
marks = []
for i in range(5):
  mark = float(input(f"Enter the mark for subject {i+1} (out of 100):"))
  if mark>=0 and mark<=100:
    marks.append(mark)
  else:
    print("Invalid mark")
    break
tot_mark = sum(marks)
avg_mark = tot_mark/5
print(f"Average mark : {avg_mark}")
if avg_mark>=90 :
  print("Grade: A")
elif avg_mark>=70 and avg_mark<=89 :
  print("Grade: B")
elif avg_mark>=50 and avg_mark<=69 :
  print("Grade: C")
else :
  print("Grade: F")

Enter the mark for subject 1 (out of 100):23
Enter the mark for subject 2 (out of 100):45
Enter the mark for subject 3 (out of 100):98
Enter the mark for subject 4 (out of 100):87
Enter the mark for subject 5 (out of 100):90
Average mark : 68.6
Grade: C

3. A movie theatre wants to automate ticket booking for customers.
a. Use a list to store the available seats (e.g., [1, 2, 3, ..., 20]).
b. Allow the customer to book a seat by entering the seat number.
c. After booking, remove the seat from the list of available seats.
d. Display the remaining available seats.

In [35]:
seats = [i for i in range(1,21)]
def book_seat():
  while (1):
    print("Available seats are:")
    print(seats)
    seat = int(input("Enter desired seat number/ enter '0' to end : "))
    if seat == 0 :
      print("\t\t\tThank You")
      break
    elif seat in seats:
      print(f"\t\tYou have booked seat no.{seat}")
      seats.remove(seat)
    else:
      print("Sorry! Seat is taken")

book_seat()

Available seats are:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Enter desired seat number/ enter '0' to end : 2
		You have booked seat no.2
Available seats are:
[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Enter desired seat number/ enter '0' to end : 15
		You have booked seat no.15
Available seats are:
[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20]
Enter desired seat number/ enter '0' to end : 0
			Thank You